@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --blue: #287bff;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --blck2: #999;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

/* Navigation menu starts here */

.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 75px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* Navigation menu ends here */

/* Outside Curve */

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* Main menu */

.main{
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    transition: 0.5s;
    background: var(--white);
}

.main.active{
    width: calc(100% - 250px);
    left: 75px;
}

.topbar{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    position: relative;
    width: 300px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 30px;
    border-radius: 40px;
    padding: 5px 30px;
    font-size: 16px;
    outline: none;
}

.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.user img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cards template */

.cards{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    padding: 10px;
}

.card{
    padding: 30px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    transition: 0.5s;
    cursor: pointer;
}

.cards .card .cardNum{
    font-size: 2em;
    font-weight: 500;
    color: var(--blue);
}

.cards .card .cardName{
    font-size: 1em;
    color: var(--blck2);
}

.card:hover{
    background: var(--blue);
}

.card:hover .cardNum,
.card:hover .cardName{
    color: var(--white);
}


/* recent order catalogue style */

.detail{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    padding: 10px;
    /*margin-top: 10px;*/
}

.recentorder{
    position: relative;
    display: grid;
    padding: 20px;
    min-height: 500px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    border-radius: 20px;
}

.cardheader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.cardheader h2{
    font-weight: 600;
    color: var(--blue);
}

.btn{
    position: relative;
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
}

.btn:hover{
    background: var(--blck2);
}

.detail table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.detail table thead td{
    font-weight: 600;
}

.detail .recentorder table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.detail .recentorder table tr:last-child{
    border-bottom: none;
}

.detail .recentorder table tbody tr:hover{
    color: var(--white);
    background: var(--blue);
}

.detail .recentorder table tr td{
    padding: 10px;
}

.detail .recentorder table tr td:last-child{
    text-align: end;
}

.detail .recentorder table tr td:nth-child(2){
    text-align: end;
}

.detail .recentorder table tr td:nth-child(3){
    text-align: center;
}

.status.delivered{
    padding: 2px 4px;
    font-weight: 500;
    font-size: 14px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
}

.status.inProgress{
    padding: 2px 4px;
    font-weight: 500;
    font-size: 14px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
}

.status.pending{
    padding: 2px 4px;
    font-weight: 500;
    font-size: 14px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
}

/* recent customer */

.recentcustomer{
    position: relative;
    display: grid;
    padding: 20px;
    min-height: 500px;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
    border-radius: 20px;
}

.recentcustomer .img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentcustomer .img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentcustomer table tr:hover{
    background: var(--blue);
    color: var(--gray);
}

.recentcustomer table tr:hover span{
    color: var(--gray);
}

.recentcustomer table tr td{
    padding: 4px 10px;
}

.recentcustomer table tr h4{
    font-size: 16px;
    font-weight: 700;
}

.recentcustomer table tr span{
    font-size: 14px;
    color: var(--blck2);
}

/* max width 991px */

@media (max-width: 991px){
    .navigation{
    left: -250px;
    }

    .navigation.active {
    width: 250px;
    left: 0;
    }

    .main{
    width: 100%;
    left: 0;
    }

    .main.active{
        left: 250px;
    }

    .cards {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .detail{
            grid-template-columns: repeat(1, 1fr);
    }
    .recentorder{
        overflow-x: auto;
    }
    .status.inProgress{
        white-space: nowrap;
    }
}

@media (max-width: 480px){

    .cards {
    grid-template-columns: repeat(1, 1fr);
    }

    .cardheader h2 {
    font-size: 18px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 1001;
    }
}